table {
  margin-top: 1rem;
  width: 100%;
  border: 1px solid grey;
  border-collapse: collapse; }
  table tr:nth-child(even) {
    background-color: #f6f6f6; }
  table th, table td {
    border: 1px solid grey;
    padding: .25rem;
    text-align: center;
    vertical-align: center; }
  table th {
    color: white;
    background-color: #a64ac9; }
  table td {
    color: #272727; }
    table td .narrow {
      width: 15%; }
    table td .wide {
      width: 55%; }

.underestimated {
  color: #0008;
  font-size: .75em; }

main span, main a {
  border-bottom-width: .2rem;
  border-bottom-style: solid;
  padding: .25rem .5rem;
  text-align: center; }

main span {
  color: #272727;
  border-bottom-color: #272727; }

main a {
  color: #a64ac9;
  border-bottom-color: #a64ac9;
  -webkit-transition: background .3s ease, color .3s ease;
  transition: background .3s ease, color .3s ease; }
  main a:hover {
    background: #a64ac9;
    color: white; }
  main a.edge-switcher {
    color: purple;
    border-bottom-color: purple; }
    main a.edge-switcher:hover {
      background: purple;
      color: white; }

main #alittleofmodems {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

main #alotofmodems {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 4fr repeat(9, 1fr) 4fr; }

@media all and (orientation: landscape) {
  table {
    width: 80%;
    margin: 1rem auto; }
  #alittleofmodems, #alotofmodems {
    width: 80%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
