html, body {
  color: black;
  font: 16px calibri;
  height: 100%;
}

header {
  color: white;
  font: 2vw calibri;
}

main {
  display: none;
}

footer {
  color: white;
}

p {
  text-align: justify;
}

div.header-container {
  margin: 0 10vw;
  height: 10vh;
  width: 80vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 14;
}

div.header {
  margin: 0 10vw;
  height: 10vh;
  width: 80vw;
  background: #607d8b;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  position: fixed;
  left: 0;
  top: 0;
}

div.header-part {
  display: inline-block;
  margin: none;
  width: 24%;
  height: 100%;
  background: none;
}

div.header-major-part {
  background: rgba(255, 0, 0, .4);
  border-bottom-left-radius: 1vw;
}

.header-span {
  text-align: center;
  display: inline-block;
}

a {
  text-decoration: none;
}

a.header-link:link {
  color: white;
}

a.header-link:visited {
  color: white;
}

a.header-link:hover {
  color: white;
}

a.header-link:active {
  color: white;
}

div.main-container {
  color: black;
  font: 12pt calibri;
  margin: 10vh 12.5vw 0 12.5vw;
}

div.footer-container {
  background: #607d8b;
  font: 12pt calibri;
}