@import "./smui-theme";

$color-blue: #393088;
$color-green: #60a475;
$color-gray: #c7c8c4;
$color-lightblue: #2a81cc;
$color-black: #2b2623;
$color-error-red: $mdc-theme-error;
$color-primary: $mdc-theme-primary;
$color-secondary: $mdc-theme-secondary;