{% extends "base-generic.html" %}

{% block title %}
<title>О компании</title>
{% endblock %}

{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock %}

{% block content %}
<h1>
	Привет!
</h1>
<p>
	Мы команда SQBit, а сервис, страницу на котором просматриваете, называется WonderCity.
</p>
<p class="justified">
	Наша история началась с учебного заведения под названием <a href="https://vk.com/kalashnikov_academ">Академия Калашников</a>.
	Там мы впервые встретились и организовали нашу команду. К слову, её имя расшифровывается как "Super Quality Bit".
	В нашем составе 3 человека:
</p>
<div class="person-container">
	<div class="person">
		<img src="#" alt="кимпи">
		<h3>
			Георгий Бердников
		</h3>
		<p class="muted">
			Описание
		</p>
	</div>
	
	<div class="person">
		<img src="#" alt="шека">
		<h3>
			Евгений Криницын
		</h3>
		<p class="muted">
			Описание
		</p>
	</div>
	
	<div class="person">
		<img src="#" alt="бурзепп">
		<h3>
			Данил Чувашов
		</h3>
		<p class="muted">
			Описание
		</p>
	</div>
</div>
{% endblock %}