<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}{% endblock%}
		<!--All metas are stored here, fellow programmer-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Main style file-->
		{% block static %}
		{% endblock %}
		{% load static %}
		<link rel="stylesheet" href="{% static 'styles/style.css' %}">
		<link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}">
		<script src="{% static 'scripts/jquery-3.4.1.min.js' %}" defer></script>
		<script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}" defer></script>
		<script src="{% static 'scripts/script.js' %}" defer></script>
	</head>  
	<body>
		<header>
			<nav>
				<div class="header-container">
					<div class="header">
						<div class="header-part" id="first">
							<div class="header-major-part">
								<span class="header-span">
									<a class="header-link">
										Главная
									</a>
								</span>
							</div>
						</div>
						
						<div class="header-part">
							<span class="header-span">
								<a class="header-link">
									О SQBit
								</a>
							</span>
						</div>
						
						<div class="header-part">
							<span class="header-span">
								<a class="header-link">
									ЧАВО
								</a>
							</span>
						</div>
						
						<ul class="dropdown-container">
							<li>
								<div class="header-part" id="last-up">
									<span class="header-span dropdown">
										{% if user.is_authenticated %}
											<a class="header-link">{{user.get_username}}</a>
										{% else %}
											<span id="login">Вход</span>
										{% endif %}
									</span>
								</div>
								
								<ul class="dropdown">
									{% if user.is_authenticated %}
										<li>
											<div class="header-part" id="last-dropped">
												<span class="header-span">
													<a class="header-link">Выйти</a>
												</span>
											</div>
										</li>
									{% else %}
										<li>
											<div class="header-part" id="last-dropped">
												<span class="header-span">
													<span id="signup">Регистрация</span>
												</span>
											</div>
										</li>
									{% endif %}
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
    
		<main>
			{% if not user.is_authenticated %}
				<div class="authorization-container">
				</div>
				<div class="login-container">
					<h3>
						<p class="centered">
							Вход
						</p>
					</h3>
					<form method="post" action="" class="login-form">
						{% csrf_token %}
						<p class="centered">
							<input class="wide" type="text" name="username" placeholder="Логин" maxlength="32" id="id_username" required>
						</p>
						<p class="centered">
							<input class="wide" type="password" name="password" placeholder="Пароль" minlength="8" maxlength="128" id="id_password" autocomplete="on" required>
						</p>
						<p class="right">
							<input type="submit" value="Вход" />
						</p>
						<input type="hidden" name="next" value="{{ next }}" />
					</form>
					<p class="centered" id="message">Неправильный логин или пароль!</p>
				</div>
				<div class="signup-container">
						<p class="centered">
							Регистрация
						</p>
				</div>
			{% endif %}
			<div class="main-container">
				{% block content %}
				{% endblock %}
			</div>
		</main>
    
		<footer>
			<div class="footer-container">
				<hr>
				<h4>Футер, милый мой футер. Вот он какой, такой простой футер.</h4> 
			</div>
		</footer>
	</body>
</html>
