{% extends "base-generic.html" %}

{% block title %}
<title>WonderCity</title>
{% endblock %}

{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock %}

{% block content %}
  <h2 class="centered">
  {% if user.is_authenticated %}
    {% if user.first_name %}
      {% if hasModems %}
        Сколько счетов ты оплатишь сегодня, {{ user.first_name }}?</h2>
        <table>
          <caption>
            <h4 class="centered">Ваши считывающие устройства:</h4>
          </caption>
          <tr>
            <th>Идентификатор</th>
            <th>Подпись</th>
            <th>Тип</th>
            <th>Показания</th>
          </tr>
          {% for modem in tree %}
            <tr>
              <td class="narrow">{{modem.0}}</td>
              <td class="wide">{{modem.1}}</td>
              <td class="narrow">{{modem.2}}</td>
              <td class="narrow">
                {% if modem.3 %}
                  {{ modem.3 }} 
                {% else %}
                  Показаний нет
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
        {% if alotofmodems %}
          <div id="alotofmodems">
            {% if requestedPage == 1 %}
              <span>1</span>
            {% else %}
              <a class="edge-switcher" href="/?page=1">1</a>
            {% endif %}
            {% for i in range %}
              {% if i == requestedPage %}
                <span>{{ i }}</span>
              {% else %}
                <a href="/?page={{ i }}">{{ i }}</a>
              {% endif %}
            {% endfor %}
            {% if requestedPage == maxPage %}
              <span>{{ maxPage }}</span>
            {% else %}
              <a class="edge-switcher" href="/?page={{ maxPage }}">{{ maxPage }}</a>
            {% endif %}
          </div>
        {% else %}
          <div id="alittleofmodems">
            {% for i in range %}
              {% if i == requestedPage %}
                <span>{{ i }}</span>
              {% else %}
                <a href="/?page={{ i }}">{{ i }}</a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% else %}
        <h2 class="centered">{{ user.first_name }}, у Вас отсутствуют считывающие устройства. Добавьте их во вкладке "Профиль".</h2>
      {% endif %}
    {% else %}
        О великий админ этого сайта! У Вас нет счётчиков...</h2>
    {% endif %}
  {% else %}
      Добро пожаловать в нашу страну розовых пони и считывающих устройств, незнакомец.</h2>
  {% endif %}
{% endblock %}