{% extends "base-generic.html" %}

{% block title %}
<title>WonderCity</title>
{% endblock %}

{% block content %}
	<h1>
		Добро пожаловать!
	</h1>
	В системе WonderCity задействованы
	<ul>
		<li>{{ num_cities }} {{ string_cities }}</li>
		<li>{{ num_districts }} {{ string_districts }} (из них {{ num_districts_in_Izhevsk }} {{ string_districts_in_Izhevsk }} в родном городе команды SQBit).</li>
	</ul>
	<h4>Вы посетили главную страницу {% if visitsCount != 1 %}{{visitsCount}}{% endif %}{{stringVisits}}. Съешьте печеньки марки sessionid, чтобы сбросить этот счётчик.</h4>
{% endblock %}